{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<br><br>
<div class="container">
    <div class="row mb-5">
        <div class="col-md-8" id="first">
            <h1>HELLO!</h1>
            <h1 class="text-success "><strong>I AM BATUHAN BAŞPINAR</strong></h1>
            <h3><u>GRADUATE WEB DEVELOPER</u></h3>
            <br>
            <div class="d-grid gap-2 d-md-block"><br>
                <a class="btn btn-success btn-lg" href="{%url 'contact:contact' %}" role="button">HIRE ME</a>
                <a class="btn btn-outline-success btn-lg" href="/static/files/BATUHANBASPINAR_CV.pdf" download role="button">GET CV</a>
            </div>
        </div>
        <div class="col-md-4  align-items-center">
            <img class="img-thumbnail rounded-circle w-100 mx-auto d-block shadow-lg" src="{%static 'images/batuhanbaspinar.jpeg' %}"><br>
            <ul class="list-group list-group-horizontal  align-items-center justify-content-center">
                <li class="list-group-item">
                    <a href="https://www.linkedin.com/in/batuhan-başpınar-456183aa">
                        <h2><i class="bi bi-linkedin text-success"></i></h2>
                    </a> </li>
                <li class="list-group-item ">
                    <a href="https://github.com/uberfresh">
                        <h2><i class="bi bi-github text-success"></i></h2>
                    </a></li>
                <li class="list-group-item">
                    <a href="https://www.facebook.com/BatuhanBaspinar123">
                        <h2><i class="bi bi-facebook text-success"></i></h2>
                    </a></li>
            </ul>
        </div>
    </div>
    <br><br><br>
    <div class="row mb-5" id="about">
        <div class="col-6 "><img class="img-thumbnail mx-auto d-block shadow-lg " src="{%static 'images/working.jpg'  %}"> </div>
        <div class="col-6  ">
            <h2 class="text-center">ABOUT
                MYSELF</h2>
            <p> &nbsp;&nbsp;&nbsp; Since my childhood, I enjoy working with the computers, playing games and solving problems.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp; This pleasure has made me interested in software and computer science in all parts of my life.Finding solutions to problems ,developing algorithms and doing researches are my best pleasures.</p>
            <p> Today,i want to continue my life by doing this job that i enjoy. </p>
        </div>
    </div>
</div>
<h1 class="text-center">MY SKILLS </h1>
<div class="row my-4">
    <div class="col-4">
        <div class="card h-100 w-100" style="width: 18rem;">
            <img class="card-img-top w-50 mx-auto mt-4" src="{%static 'images/web-langs.png'  %}">
            <div class="card-body">
                <h3 class="card-title text-center my-4">HTML/CSS<br>Js/Bootstrap</h3>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card h-100 w-100" style="width: 18rem;">
            <img class="card-img-top w-75 mx-auto mt-4" src="{%static 'images/python-django.png'  %}">
            <div class="card-body">
                <h3 class="card-title text-center my-4">Django/Python</h3>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card h-100 w-100" style="width: 18rem;">
            <img class="card-img-top w-75 mx-auto mt-4 " src="{%static 'images/php-mysql.png'  %}">
            <div class="card-body">
                <h3 class="card-title text-center my-4">PHP/MySql</h3>
            </div>
        </div>
    </div>
</div><br>
<h2 class="text-center">OTHER SKILLS</h2>
<div class="row my-4">
    <div class="col-4">
        <div class="card h-100 w-100" style="width: 18rem;">
            <img class="card-img-top w-50 mx-auto mt-4" src="{%static 'images/net.png'  %}">
            <div class="card-body">
                <h3 class="card-title text-center my-4">.NET</h3>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card h-100 w-100" style="width: 18rem;">
            <img class="card-img-top w-50 mx-auto mt-4" src="{%static 'images/unity.png'  %}">
            <div class="card-body">
                <h3 class="card-title text-center my-4">Unity C#</h3>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card h-100 w-100" style="width: 18rem;">
            <img class="card-img-top w-50 mx-auto mt-4 " src="{%static 'images/ps.png'  %}">
            <div class="card-body">
                <h3 class="card-title text-center my-4">Adobe Photoshop</h3>
            </div>
        </div>
    </div>
</div>
{%endblock%}