{%extends 'base/base.html'%}
{%block content%}
{% load static %}
{%load crispy_forms_tags%}

<main class="form-signin d-flex justify-content-center align-items-center w-100 my-2">
  <form method="POST" class="form-group w-50  ">
   {%csrf_token%}
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
     {{form | crispy}}
    
    <button class="w-100 btn btn-lg btn-success" type="submit">Sign up</button>
   {{form.errors}}

    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>


{%endblock%}